/* ================ Сбросс стилей ================ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ================ Общие стили ================ */

html, body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    min-width: 375px; /* при разрешении меньше, чем 375px наша верстка начинала масштабироваться и ничего не "ломалось". добавим тегу <body> минимальную ширину, равную самому маленькому устройству, под которое мы делаем адаптив */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* ссылки: при наведении добавим им подчеркивание*/
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-5px);
}

.title {
    color: #363940;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px; /* 134.375% */
}

.text {
    color: #95A1BB;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    /*margin-bottom: 40px; !*присвоим каждой секции совй маржин батон*!*/
}

.container { /* Это стандартные стили для контейнера. Может меняться только max-width и padding */
    height: 100%;
    width: 100%;
    max-width: 1170px; /* 1140 Figma + padding 15*2 */
    padding: 0 15px; /* отступы по бокам на мобилкам */
    margin-left: auto; /* центрируем по горизонтали */
    margin-right: auto; /* центрируем по горизонтали */
    /*border: 1px solid red !* чтобы было его видно, потом удалим *!*/
}

/*/=================== стили для header`a =================/*/

.header {
    background-color: #0A61F7;
    padding: 14px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 24px;
}

.menu-link { /* скопировали из фигмы, удалили ненужное*/
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.menu-icon {
    display: none; /* Изначально для desktop версии бургер-меню мы скрое */
}

/*/=================== стили для 1ой секции =================/*/

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px; /* добавили в 4 уроке адаптив под планшеты*/
}

.main-title {
    color: #363940;
    font-size: 58px;
    font-weight: 500;
    line-height: 68px; /* 117.241% */
    margin-bottom: 30px;
}

.main .text {
    margin-bottom: 40px;
    max-width: 380px;
}

.main-img {
    align-self: flex-end; /* прижали картинку к нижнему краю родителя */
}

.button {
    width: 152px;
    height: 51px;
    border-radius: 4px;
    background: #0A61F7;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    line-height: 19.6px; /* 140% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/*/=================== стили для 2ой секции =================/*/

.rates-section {
    background-color: #F9FAFC;
    padding: 100px 0;
}

.rates-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates-section .title {
    margin-bottom: 20px; /*для заголовка title в конкретной секции будем добавлять к этим стилям свой отступ*/
}

.rates-section .text {
    margin-bottom: 40px;
    text-align: center; /* текст центрирован на всех разрешениях (деск топ, планшет, мобила), можно это сделать не в медиазапросе а ТУТ */
}

.table {
    border-collapse: collapse; /*убираем отступы между границами таблицы*/
}

th, td { /* Стилизуем по названию тега */
    border: 1px solid #95A1BB;
    width: 240px;
    padding: 15px 0;
    text-align: center;
}

.table-title {
    color: #363940;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
}

.table-subtitle {
    color: #363940;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-align: left;
    padding-left: 20px;
}

.table-subtitle.gray {
    color: #95A1BB; /* стиль применится, если у элемента будут эти оба класса */
}

.table-link {
    color: #0A61F7;
}

.table-button {
    width: 140px;
    padding: 8px 0;
    border-radius: 4px;
    border: 1px solid #0A61F7;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.6px; /* 163.333% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #0A61F7;
}


.table-button.active { /* эти свойства применятся, если у кнопки будут оба класса */
    background: #0A61F7;
    color: #FFF;
}

.table-footer td {
    padding: 30px 0;
}

/*/=================== стили для 3кй секции =================/*/

.create-account-section {
    padding: 100px 0;
}

.account-wrapper {
    display: flex;
    justify-content: space-between;
}

.create-account-section .title {
    margin-bottom: 50px; /*для заголовка в конкретной секции будем добавлять к этим стилям title свой отступ*/
}

.create-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}

.list-item {
    list-style-image: url("./assets/images/Check.svg");
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, select, fieldset, textarea {
    border-radius: 4px;
    border: 1px solid #95A1BB;
    padding: 14px 15px; /*отступы названий полей в рамочке сверху и справа*/
}

input, select, fieldset, textarea, label, legend, input::placeholder, select::placeholder, textarea::placeholder {
    color: #95A1BB; /*свойства для стилизации текстов в этих элементах*/
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
    font-family: inherit;
}

input[type="text"] { /*зададим полям ввода правильные размеры. обратиться по атрибуту*/
    width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
    flex-grow: 1;
}

input[type="radio"], input[type="checkbox"], input[type="date"], select {
    cursor: pointer;
}

.stack,
fieldset {
    display: flex;
    column-gap: 30px;
}

.fields-wrapper {
    display: flex;
    flex-wrap: wrap; /* будут скидываться вниз если не помещаются в родителе*/
    gap: 20px;
}

fieldset {
    width: 100%;
    padding: 30px 15px;
}

textarea {
    width: 100%;
    min-height: 80px;
    resize: none; /*   уберем возможность изменять размер <textarea>*/
}

form .button {
    width: 100%;
}

select {
    background: url("./assets/images/Arrow-down.svg") no-repeat right 15px top 50%;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url("./assets/images/Calendar.svg") no-repeat;
}

/* ========================= Стили для футера ============================= */

.footer {
    background-color: #0A61F7;
    text-align: center;
    padding: 20px 0;
}

small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    color: #FFF;
}

/*================// адаптив под плвншеты //========================*/
@media screen and (max-width: 1400px) {
    /* медиазапрос для всех экранов, у которых ширина будет меньше 1400px*/
    /*================ стили для 1 секции ================================*/
    .main-wrapper {
        flex-direction: column;
        min-height: auto; /* убираем лишнее пустое пространство сверху и снизу при сжатии */
    }

    .main-info {
        align-self: flex-start;
        margin: 100px 0 80px;
    }

    .main-img {
        align-self: center;
    }

    /*================ стили для 2 секции ================================*/
    .table {
        width: 940px; /*захардкодили  чтобы ширина таблицы не изменялась, когда экран становится меньше, и ее можно было бы скролить горизонтально отдельно от других элементов*/
    }

    .table-wrapper {
        overflow-x: auto; /*  для скролла создать дополнительную обертку для таблицы, в которой будет появляться ГОРИЗОНТАЛЬНЫЙ скролл, если контента будет больше */
        width: 100%; /* чтобы свойство overflow работало, у элемента, где оно указано, обязательно должны быть размеры (свойства width и/или height)*/
        max-width: 940%; /* чтобы все было резиновым и без скачков (как сейчас), зададим для .table-wrapper еще максимальную ширину, равную ширине таблицы*/
    }

    /*================ стили для 3 секции ================================*/
    .account-wrapper {
        flex-direction: column;
        gap: 70px; /* добавим отступ между .account-info-wrapper и <form> */
    }

    .create-account-section .text {
        max-width: unset; /* отменяем максимальную ширину чтобы текст не становился на всю ширину */
    }

    form {
        align-self: center; /* расположим форму горизонтально по центру */
    }
}

/*================// адаптив под моюбилы //========================*/
@media screen and (min-width: 576px) {
    .menu {
        display: none; /* для мобилок скроем основное меню (display: none) */
    }

    .menu-icon {
        display: block; /* для мобилок покажем бургер меню */
    }

    /*================ стили для 1 секции ================================*/
    .main-info {
        margin: 60px 0;
    }

    .main-title {
        font-size: 52px;
        line-height: 60px;
    }

    /*================ стили для 2 секции ================================*/
    /*ничего не изменяли тут, изменили ввеорху сразу для всех разрешений*/
    /*================ стили для 3 секции ================================*/
    .account-wrapper {
        gap: 60px; /* уменьшается отступ между контентом (блок с заголовком, текстом и кнопкой) и формой */
    }

    label {
        white-space: nowrap; /* меняем поведение по умолчанию (текст "скинулся" вниз, так как ширина этого блока стала меньше и элементы в нем теперь не помещаются) с помощью свойства white-space, которое управляет переносом строчных элементов */
    }

    fieldset {
        flex-wrap: wrap; /* делаем так, чтобы <label>-ы "скидывались" вниз, когда им не хватает места */
        row-gap: 20px; /* добавить отступ между верхними и нижними чекбоксами что-бы они так не прижимались к друг другу */
    }
}

